@using xluhco.web
@model ShortLinkItem
@{
}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    
        <meta name="description" content="xluhco is a URL shortener for Excella (xluh.co, Excella Co, get it?)">
        <meta name="author" content="Sean Killeen">
    </head>
    <body>
        <h2>Short Code @Model.ShortLinkCode</h2>
        <p>Redirecting to @Model.URL</p>
    </body>
</html>
