@using xluhco.web
@model ShortLinkItem
@{
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>xluh.co -- Redirecting to @Model.URL</title>

    <meta name="description" content="xluhco is a URL shortener for Excella (xluh.co, Excella Co, get it?)">
    <meta name="author" content="Sean Killeen">
</head>
<body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108259179-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-108259179-1');
    </script>

    <h2>Short Code @Model.ShortLinkCode</h2>
    <p>Redirecting to @Model.URL</p>
</body>
</html>
