
@{
    ViewBag.Title = "Link Not Found";
    Layout = "~/Views/Shared/_layout.cshtml";

}
<h1 class="title">
    Ruh roh. <i class="fa fa-frown-o"></i>
</h1>
<p class="subtitle">
    We couldn't find a short link for the code you entered. Rats.
</p>
