@using Microsoft.Extensions.Options
@using xluhco.web
@inject IOptions<SiteOptions> SiteOptions
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_layout.cshtml";
    var options = SiteOptions.Value;
}
<h1 class="title">
    Hello there!
</h1>
<p class="subtitle">
    This is @options.ShortLinkUrl, @options.CompanyName's friendly URL redirect application.
</p>

<p class="subtitle">
    You can head to our home page at <a href="@options.CompanyHomePageUrl">@options.CompanyHomePageUrl</a>.
</p>