
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<h1 class="title">
    Hello there!
</h1>
<p class="subtitle">
    This is xluh.co, Excella's friendly URL redirect application.
</p>
