@model List<xluhco.web.ShortLinkItem>
@{
    ViewBag.Title = "All the links";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h1 class="title">
    All the links!
</h1>
<p class="subtitle">
    We've got a bunch.
</p>
<table class="table is-striped">
    <thead>
        <tr>
            <td>Short Code</td>
            <td>URL</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ShortLinkCode</td>
                <td>@item.URL</td>
            </tr>
        }

    </tbody>
</table>
