@using Microsoft.Extensions.Options
@using xluhco.web
@inject IOptions<SiteOptions> SiteOptions
@model List<xluhco.web.ShortLinkItem>
@{
    ViewBag.Title = "All the links";
    Layout = "~/Views/Shared/_layout.cshtml";

    var shortLinkUrl = SiteOptions.Value.ShortLinkUrl;
}

<h1 class="title">
    All the links!
</h1>
<p class="subtitle">
    We've got a bunch.
</p>
<div id="shortlinks">
    <input class="search" placeholder="Search" />
    <table class="table is-striped">
        <thead>
            <tr>
                <td>Short Code</td>
                <td>URL</td>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td><span class="icon">
                        <i class="fa fa-clipboard"></i>
                    </span> @shortLinkUrl/<span class="shortlink">@item.ShortLinkCode</span></td>
                    <td class="url"><a href="@item.URL">@item.URL</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section ScriptBeforeEndOfBody {
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script>
        var options = {
            valueNames: [ 'shortlink', 'url' ]
        };

        var userList = new List('shortlinks', options);
    </script>
}